Repository baiyunfei429/bai-design-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

feat: add commitlint,规范commit message
  .commitlintrc.js
Due: eslint

feat: v1.0.5, update CHANGELOG.md
  CHANGELOG.md
  package.json
Due: prettier --write

revert: 恢复code
  src/alert/index.tsx
Due: eslint

feat: add semantic-release
  .github/workflows/gh-pages.yml
  .releaserc.json
  package.json
  yarn.lock
Due: none

feat: run on ubuntn
  .github/workflows/gh-pages.yml
Due: none

feat: ubuntu-18.04
  .github/workflows/gh-pages.yml
Due: none

feat: ubuntu-latest
  .github/workflows/gh-pages.yml
Due: none

feat: update .yml
  .github/workflows/gh-pages.yml
Due: none

feat: add user
  .github/workflows/gh-pages.yml
Due: none

feat: github_token
  .github/workflows/gh-pages.yml
Due: none

feat: BAI_GITHUB_TOKEN
  .github/workflows/gh-pages.yml
Due: none

feat: update - > upd
  src/alert/index.md
Due: prettier --write

deploy: 12a4707466f97137ae59b770a7699a14a13af453
  404.html
  components/alert/index.html
  components/divider-bai/index.html
  getting-started/index.html
  index.html
  umi.77501861.js
  ~demos/:id/index.html
  ~demos/alert-demo-basic/index.html
  ~demos/src-divider-bai-demo-basic/index.html
Due: eslint

feat: add text for test
  src/alert/index.md
Due: prettier --write

Updates
  .nojekyll
  307.58fc54b3.chunk.css
  307.8a763cf7.async.js
  404.html
  668.3a893a3a.chunk.css
  668.ac275f3f.async.js
  alert__demos.732368e7.async.js
  alert__demos.cab4da2a.async.js
  alert__index.md.44e659af.async.js
  alert__index.md.d0e5dd3a.async.js
  components/alert/index.html
  components/divider-bai/index.html
  demos.ab987076.async.js
  demos.e1d0508f.async.js
  divider-bai__index.md.4092c244.async.js
  divider-bai__index.md.75aa1757.async.js
  docs__getting-started.md.21f2171e.async.js
  docs__getting-started.md.8cca8873.async.js
  docs__index.md.ece8eda8.async.js
  docs__index.md.f6746d44.async.js
  dumi__tmp-production__dumi__theme__ContextWrapper.ddac7892.async.js
  dumi__tmp-production__dumi__theme__ContextWrapper.ff6e5461.async.js
  getting-started/index.html
  index.html
  nm__dumi__dist__client__pages__404.accecb8a.async.js
  nm__dumi__dist__client__pages__404.dc857ae2.async.js
  nm__dumi__dist__client__pages__Demo__index.383fa401.async.js
  nm__dumi__dist__client__pages__Demo__index.e16d04d2.async.js
  nm__dumi__theme-default__layouts__DocLayout__index.530a6c23.async.js
  nm__dumi__theme-default__layouts__DocLayout__index.95561048.async.js
  umi.115134b2.css
  umi.1537a505.js
  umi.5a19b5a0.css
  umi.77501861.js
  ~demos/:id/index.html
  ~demos/alert-demo-basic/index.html
  ~demos/src-divider-bai-demo-basic/index.html
Due: eslint

Updates
  404.html
  components/alert/index.html
  components/divider-bai/index.html
  getting-started/index.html
  index.html
  umi.b5a50618.js
  ~demos/:id/index.html
Due: eslint

deploy: e0bb407da64b775841b4671fcc1c561e51e8c50d
  .nojekyll
  307.58fc54b3.chunk.css
  307.8a763cf7.async.js
  668.3a893a3a.chunk.css
  668.ac275f3f.async.js
  alert__demos.732368e7.async.js
  alert__demos.cab4da2a.async.js
  alert__index.md.44e659af.async.js
  alert__index.md.d0e5dd3a.async.js
  components/alert/index.html
  components/divider-bai/index.html
  demos.ab987076.async.js
  demos.e1d0508f.async.js
  divider-bai__index.md.4092c244.async.js
  divider-bai__index.md.75aa1757.async.js
  docs__getting-started.md.21f2171e.async.js
  docs__getting-started.md.8cca8873.async.js
  docs__index.md.ece8eda8.async.js
  docs__index.md.f6746d44.async.js
  dumi__tmp-production__dumi__theme__ContextWrapper.ddac7892.async.js
  dumi__tmp-production__dumi__theme__ContextWrapper.ff6e5461.async.js
  getting-started/index.html
  index.html
  nm__dumi__dist__client__pages__404.accecb8a.async.js
  nm__dumi__dist__client__pages__404.dc857ae2.async.js
  nm__dumi__dist__client__pages__Demo__index.383fa401.async.js
  nm__dumi__dist__client__pages__Demo__index.e16d04d2.async.js
  nm__dumi__theme-default__layouts__DocLayout__index.530a6c23.async.js
  nm__dumi__theme-default__layouts__DocLayout__index.95561048.async.js
  umi.115134b2.css
  umi.151e1c13.js
  umi.5a19b5a0.css
  umi.b5a50618.js
  ~demos/:id/index.html
  ~demos/alert-demo-basic/index.html
  ~demos/src-divider-bai-demo-basic/index.html
Due: eslint

feat: gitlab->github
  doc-site/dumi__tmp-production__dumi__theme__ContextWrapper.ddac7892.async.js
  package.json
Due: eslint

deploy: d129190b480b6b38532cb37645f6905355e16243
  404.html
  components/alert/index.html
  components/divider-bai/index.html
  dumi__tmp-production__dumi__theme__ContextWrapper.e3666e0b.async.js
  dumi__tmp-production__dumi__theme__ContextWrapper.ff6e5461.async.js
  getting-started/index.html
  index.html
  umi.faa76e3b.js
  ~demos/:id/index.html
  ~demos/alert-demo-basic/index.html
  ~demos/src-divider-bai-demo-basic/index.html
Due: eslint

feat: GITHUB_TOKEN
  .github/workflows/gh-pages.yml
Due: none

feat: github_token secrets.BAI_GITHUB_TOKEN
  .github/workflows/gh-pages.yml
Due: none

feat: github_token secrets.GH_TOKEN
  .github/workflows/gh-pages.yml
Due: none

deploy: 88ff6466c48cb66194e80a23b08657e93708cb80
  404.html
  components/alert/index.html
  components/divider-bai/index.html
  getting-started/index.html
  index.html
  umi.5d273ef6.js
  ~demos/:id/index.html
  ~demos/alert-demo-basic/index.html
  ~demos/src-divider-bai-demo-basic/index.html
Due: eslint

feat: @semantic-release/github
  .releaserc.json
  package.json
  yarn.lock
Due: none

feat: git@github.com:baiyunfei429/bai-design-react.git
  package.json
Due: none

deploy: 68df2e03a684c0b53c82c73b6870622eb5b38703
  404.html
  components/alert/index.html
  components/divider-bai/index.html
  dumi__tmp-production__dumi__theme__ContextWrapper.af92b2ad.async.js
  dumi__tmp-production__dumi__theme__ContextWrapper.e3666e0b.async.js
  getting-started/index.html
  index.html
  umi.0b127047.js
  ~demos/:id/index.html
  ~demos/alert-demo-basic/index.html
  ~demos/src-divider-bai-demo-basic/index.html
Due: eslint

feat: del semantic-release
  .github/workflows/gh-pages.yml
Due: none

deploy: f63bdddf27a76415531e415286cf9afc8859a514
  404.html
  alert__demos.42384449.chunk.css
  alert__demos.5ed095cd.async.js
  alert__demos.cab4da2a.async.js
  components/alert/index.html
  components/divider-bai/index.html
  demos.a1f73909.async.js
  demos.e1d0508f.async.js
  demos.ef46db37.chunk.css
  dumi__tmp-production__dumi__theme__ContextWrapper.af92b2ad.async.js
  dumi__tmp-production__dumi__theme__ContextWrapper.e73a3f2f.async.js
  getting-started/index.html
  index.html
  umi.0b127047.js
  umi.f6af35a0.js
  ~demos/:id/index.html
  ~demos/alert-demo-basic/index.html
  ~demos/src-divider-bai-demo-basic/index.html
Due: eslint

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.md
